In [1]:

import pickle
import pandas as pd
import numpy as np
import random

In [2]:
# Dataframe
path_df = "C:/Users/LeonardoBouchan/Code/MachineLearningPython/TextClassificationTowarsDataScience/5FeatureEngineering/Pickles/df.pickle"
with open(path_df, 'rb') as data:
    df = pickle.load(data)
    
# X_train
path_X_train = "C:/Users/LeonardoBouchan/Code/MachineLearningPython/TextClassificationTowarsDataScience/5FeatureEngineering/Pickles/X_train.pickle"
with open(path_X_train, 'rb') as data:
    X_train = pickle.load(data)

# X_test
path_X_test = "C:/Users/LeonardoBouchan/Code/MachineLearningPython/TextClassificationTowarsDataScience/5FeatureEngineering/Pickles/X_test.pickle"
with open(path_X_test, 'rb') as data:
    X_test = pickle.load(data)

# y_train
path_y_train = "C:/Users/LeonardoBouchan/Code/MachineLearningPython/TextClassificationTowarsDataScience/5FeatureEngineering/Pickles/y_train.pickle"
with open(path_y_train, 'rb') as data:
    y_train = pickle.load(data)

# y_test
path_y_test = "C:/Users/LeonardoBouchan/Code/MachineLearningPython/TextClassificationTowarsDataScience/5FeatureEngineering/Pickles/y_test.pickle"
with open(path_y_test, 'rb') as data:
    y_test = pickle.load(data)

# features_train
path_features_train = "C:/Users/LeonardoBouchan/Code/MachineLearningPython/TextClassificationTowarsDataScience/5FeatureEngineering/Pickles/features_train.pickle"
with open(path_features_train, 'rb') as data:
    features_train = pickle.load(data)

# labels_train
path_labels_train = "C:/Users/LeonardoBouchan/Code/MachineLearningPython/TextClassificationTowarsDataScience/5FeatureEngineering/Pickles/labels_train.pickle"
with open(path_labels_train, 'rb') as data:
    labels_train = pickle.load(data)

# features_test
path_features_test = "C:/Users/LeonardoBouchan/Code/MachineLearningPython/TextClassificationTowarsDataScience/5FeatureEngineering/Pickles/features_test.pickle"
with open(path_features_test, 'rb') as data:
    features_test = pickle.load(data)

# labels_test
path_labels_test = "C:/Users/LeonardoBouchan/Code/MachineLearningPython/TextClassificationTowarsDataScience/5FeatureEngineering/Pickles/labels_test.pickle"
with open(path_labels_test, 'rb') as data:
    labels_test = pickle.load(data)
    
# SVM Model
path_model = "C:/Users/LeonardoBouchan/Code/MachineLearningPython/TextClassificationTowarsDataScience/6Training/Models/best_svc.pickle"
with open(path_model, 'rb') as data:
    svc_model = pickle.load(data)
    
# Category mapping dictionary
category_codes = {
    'business': 0,
    'entertainment': 1,
    'politics': 2,
    'sport': 3,
    'tech': 4
}

category_names = {
    0: 'business',
    1: 'entertainment',
    2: 'politics',
    3: 'sport',
    4: 'tech'
}

In [4]:
#Let's get the predictions on the test set:

predictions = svc_model.predict(features_test)
print(predictions)

[3 0 0 0 0 0 1 0 3 3 2 1 3 4 2 0 4 3 2 4 3 0 1 3 3 0 4 0 4 3 2 1 0 1 1 0 2
 4 2 4 0 3 3 1 0 1 3 2 2 3 4 1 0 2 0 1 3 0 2 4 2 4 0 0 2 0 0 2 2 4 4 0 3 3
 2 3 3 1 4 0 4 4 2 4 2 4 3 4 1 0 0 2 2 1 1 0 4 1 0 0 2 2 4 3 0 2 0 3 3 3 2
 2 3 2 4 0 4 2 3 2 0 2 0 0 0 1 0 3 4 1 4 3 0 3 0 4 3 2 1 0 3 1 3 0 3 0 1 1
 0 1 3 0 2 4 3 2 1 4 0 2 0 0 3 3 3 0 2 3 0 3 0 0 3 1 3 1 2 4 3 2 1 0 2 4 3
 1 2 4 1 2 2 2 0 3 3 4 4 4 1 0 4 2 0 4 4 4 4 4 3 3 0 2 1 0 2 3 2 0 4 0 0 0
 3 0 4 4 3 2 3 0 2 3 3 3 2 0 1 3 2 0 1 1 0 2 4 3 0 4 0 0 1 2 3 2 3 3 1 0 3
 0 4 1 3 0 1 3 4 2 2 0 2 4 1 3 2 3 0 4 2 1 4 0 3 3 1 3 4 0 0 2 2 1 1 1 4 2
 0 4 4 2 3 4 0 3 1 0 2 1 3 4 0 0 1 0 0 0 2 4 2 2 1 0 0 2 3 4 2 0 0 0 3 0 4
 1]

In [11]:

# Indexes of the test set
index_X_test = X_test.index

# We get them from the original df
df_test = df.loc[index_X_test]

# Add the predictions
df_test['Prediction'] = predictions

# Clean columns
df_test = df_test[['Content', 'Category', 'Category_Code', 'Prediction']]

# Decode
df_test['Category_Predicted'] = df_test['Prediction']
df_test = df_test.replace({'Category_Predicted':category_names})

# Clean columns again
df_test = df_test[['Content', 'Category', 'Category_Predicted']]

print(df_test)

                                                Content       Category  \
1691  Ireland call up uncapped Campbell\r\n\r\nUlste...          sport
1103  Gurkhas to help tsunami victims\r\n\r\nBritain...       politics
477   Egypt and Israel seal trade deal\r\n\r\nIn a s...       business
197   Cairn shares up on new oil find\r\n\r\nShares ...       business
475   Saudi NCCI's shares soar\r\n\r\nShares in Saud...       business
...                                                 ...            ...
393   US Airways staff agree to pay cut\r\n\r\nA uni...       business
1746  Henman hopes ended in Dubai\r\n\r\nThird seed ...          sport
444   Executive trio leave Aer Lingus\r\n\r\nThree s...       business
2215  Broadband fuels online expression\r\n\r\nFast ...           tech
733   Farrell due to make US TV debut\r\n\r\nActor C...  entertainment

     Category_Predicted
1691              sport
1103           business
477            business
197            business
475            business
...                 ...
393            business
1746              sport
444            business
2215               tech
733       entertainment

[334 rows x 3 columns]

In [12]:
df_test.head()

,Content,Category,Category_Predicted
1691,Ireland call up uncapped Campbell\r\n\r\nUlste...,sport,sport
1103,Gurkhas to help tsunami victims\r\n\r\nBritain...,politics,business
477,Egypt and Israel seal trade deal\r\n\r\nIn a s...,business,business
197,Cairn shares up on new oil find\r\n\r\nShares ...,business,business
475,Saudi NCCI's shares soar\r\n\r\nShares in Saud...,business,business

In [13]:
#Let's get the misclassified articles:

condition = (df_test['Category'] != df_test['Category_Predicted'])

df_misclassified = df_test[condition]

df_misclassified.head(3)

,Content,Category,Category_Predicted
1103,Gurkhas to help tsunami victims\r\n\r\nBritain...,politics,business
1880,Half-Life 2 sweeps Bafta awards\r\n\r\nPC firs...,tech,entertainment
2137,Junk e-mails on relentless rise\r\n\r\nSpam tr...,tech,business

In [14]:
def output_article(row_article):
    print('Actual Category: %s' %(row_article['Category']))
    print('Predicted Category: %s' %(row_article['Category_Predicted']))
    print('-------------------------------------------')
    print('Text: ')
    print('%s' %(row_article['Content']))

In [15]:
random.seed(8)
list_samples = random.sample(list(df_misclassified.index), 3)
list_samples

[956, 1339, 1205]

In [16]:
output_article(df_misclassified.loc[list_samples[0]])

Actual Category: politics
Predicted Category: tech
-------------------------------------------
Text:
Assembly ballot papers 'missing'

Hundreds of ballot papers for the regional assembly referendum in the North East have "disappeared".

Royal Mail says it is investigating the situation, which has meant about 300 homes in County Durham are not receiving voting packs. Officials at Darlington Council are now in a race against time to try and rectify the situation. The all-postal votes of about two million electors are due to be handed in by 4 November. A spokesman for Darlington Council said: "We have sent out the ballot papers, the problem is with Royal Mail. "Somewhere along the line, something has gone wrong and these ballot papers have not been delivered. "The Royal Mail is investigating to see if they can find out what the problem is."

A spokeswoman for Royal Mail said: "We are investigating a problem with the delivery route in the Mowden area of Darlington. "This is affecting several hundred properties, which have failed to receive ballot papers. "We are working closely with the council and will do all we can to help rectify the problem. "No-one will not receive their ballot paper as special hand deliveries will take place where necessary. "We are unaware of any other problems of this kind to do with the regional assembly vote."

The Darlington Council spokesman added: "Initially we had complaints from a couple of residents in Mowden to say they thought they should have had their ballot papers by now. "We then made further investigations and it became clear this was a bigger issue." A spokeswoman for the Electoral Commission told BBC News Online that letters were being sent out to those homes affected. She said the commission was satisfied that measures had been put in place to ensure all voters received ballot papers in time. So far a total of 569,072 ballot envelopes have been scanned by bar code at counting offices across the North East.

In [17]:
output_article(df_misclassified.loc[list_samples[1]])

Actual Category: sport
Predicted Category: entertainment
-------------------------------------------
Text:
Holmes feted with further honour

Double Olympic champion Kelly Holmes has been voted European Athletics (EAA) woman athlete of 2004 in the governing body's annual poll.

The Briton, made a dame in the New Year Honours List for taking 800m and 1,500m gold, won vital votes from the public, press and EAA member federations. She is only the second British woman to land the title after- Sally Gunnell won for her world 400m hurdles win in 1993. Swedish triple jumper Christian Olsson was voted male athlete of the year. The accolade is the latest in a long list of awards that Holmes has received since her success in Athens. In addition to becoming a dame, she was also named the BBC Sports Personality of the Year in December. Her gutsy victory in the 800m also earned her the International Association of Athletics Federations' award for the best women's performance in the world for 2004. And she scooped two awards at the British Athletics Writers' Association annual dinner in October.

In [18]:
output_article(df_misclassified.loc[list_samples[2]])

Actual Category: politics
Predicted Category: tech
-------------------------------------------
Text:
MPs issued with Blackberry threat

MPs will be thrown out of the Commons if they use Blackberries in the chamber Speaker Michael Martin has ruled.

The Â£200 handheld computers can be used as a phone, pager or to send e-mails. The devices gained new prominence this week after Alastair Campbell used his to accidentally send an expletive-laden message to a Newsnight journalist. Mr Martin revealed some MPs had been using their Blackberries during debates and he also cautioned members against using hidden earpieces.

The use of electronic devices in the Commons chamber has long been frowned on. The sound of a mobile phone or a pager can result in a strong rebuke from either the Speaker or his deputies. The Speaker chairs debates in the Commons and is charged with ensuring order in the chamber and enforcing rules and conventions of the House. He or she is always an MP chosen by colleagues who, once nominated, gives up all party political allegiances.